body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 450px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  padding:5px;
}

.button-container {
  background: #e3f4ff;
  margin-top:5px;
  text-align: center;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin:0px auto;
  padding: 10px;

}